Repository pcdshub/pytmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers, @pcdshub/software-admin

Added Support for non EtherCATMC type motors
  pytmc/bin/template.py
  pytmc/parser.py
Owners: @pcdshub/python-reviewers

Fixed template CLI test, prune legacy devs code
  pytmc/bin/template.py
Owners: @pcdshub/python-reviewers

Update docsstring and runtime error msg for missing plc attribute
  pytmc/bin/template.py
  pytmc/parser.py
Owners: @pcdshub/python-reviewers

upgrade flake8, pre-commit for python >= 3.12
  .pre-commit-config.yaml
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

Motion anstraction test PLC sample
  .gitmodules
  pytmc/tests/tmc_files/motion_abstraction_sample.tmc
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

using https instead of ssh repo path
  .gitmodules
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

Moved submodule to pytmc/tests/projects/lcls-plc-motion-abstraction-sample
  .gitmodules
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

Turn lcls-plc-motion-abstraction-sample repo ito public, fixed path
  .gitmodules
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

added type annotation to has_axis_link, cleanup erroneous docstring
  pytmc/bin/template.py
Owners: @pcdshub/python-reviewers

Added annoted type and return on get_motors property
  pytmc/bin/template.py
Owners: @pcdshub/python-reviewers

fix pre-commit cleanups
  pytmc/bin/template.py
Owners: @pcdshub/python-reviewers

Reverted to direct variables read and write, extend docstring info for added motors methods in template scripts
  pytmc/bin/template.py
Owners: @pcdshub/python-reviewers

Calling resolve_motor method in main to validated and generated motor template rendering arguments
  pytmc/bin/template.py
Owners: @pcdshub/python-reviewers

Moved has_pragma and get_pragmas from pragma to parser script
  pytmc/bin/template.py
  pytmc/parser.py
  pytmc/pragmas.py
  pytmc/tests/test_motion.py
Owners: @pcdshub/python-reviewers

Latest motion abstractions sample update
  pytmc/tests/tmc_files/motion_abstraction_sample.tmc
Owners: @pcdshub/twincat-reviewers

Remove duplicate test sample submodule .gitmodules
  .gitmodules
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

DOC: release notes for 2.19.0
  docs/source/release_notes.rst
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

STY: pre-commit
  docs/source/release_notes.rst
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

Auto-update from Github Actions Workflow
  master/_sources/release_notes.rst.txt
  master/_static/basic.css
  master/_static/doctools.js
  master/_static/language_data.js
  master/_static/searchtools.js
  master/genindex.html
  master/getting_started.html
  master/index.html
  master/installation.html
  master/objects.inv
  master/pragma_usage.html
  master/py-modindex.html
  master/release_notes.html
  master/search.html
  master/searchindex.js
  master/source_code.html
  master/terminal_usage.html
  master/user_guide.html
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

FIX: ignore drive manager projects that are breaking various tools
  docs/source/release_notes.rst
  pytmc/parser.py
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

CI: try to use a custom checkout token to fix CI
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: nvm no token here
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: test if the token works
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: syntax?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: syntax?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: syntax?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: syntax?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: checkouts v5?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: secrets?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: secrets?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: secrets?
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

TST: token stuff
  .github/workflows/test_token.yml
Owners: @pcdshub/software-admin

try v5
  .github/workflows/test_token.yml
Owners: @pcdshub/software-admin

try v5
  .github/workflows/test_token.yml
Owners: @pcdshub/software-admin

WIP: try debug branch to force an update
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

MNT: try fork version
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: switch back to master
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

CI: force cache invalidation try 1
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

DOC: update tag date in docs
  docs/source/release_notes.rst
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

Auto-update from Github Actions Workflow
  master/_sources/release_notes.rst.txt
  master/index.html
  master/release_notes.html
  master/searchindex.js
Owners: @pcdshub/python-reviewers, @pcdshub/twincat-reviewers

.github/CODEOWNERS:

# default group
* @pcdshub/python-reviewers @pcdshub/twincat-reviewers

# language-specific group(s)
## PYTHON files
*.py @pcdshub/python-reviewers
*.pyi @pcdshub/python-reviewers
*.pyc @pcdshub/python-reviewers
*.pyw @pcdshub/python-reviewers
*.pyx @pcdshub/python-reviewers
*.pyd @pcdshub/python-reviewers
## TWINCAT files
*.tsproj @pcdshub/twincat-reviewers
*.plcproj @pcdshub/twincat-reviewers
*.tmc @pcdshub/twincat-reviewers
*.tpr @pcdshub/twincat-reviewers
*.xti @pcdshub/twincat-reviewers
*.TcTTO @pcdshub/twincat-reviewers
*.TcPOU @pcdshub/twincat-reviewers
*.TcDUT @pcdshub/twincat-reviewers
*.TcGVL @pcdshub/twincat-reviewers
*.TcVis @pcdshub/twincat-reviewers
*.TcVMO @pcdshub/twincat-reviewers
*.TcGTLO @pcdshub/twincat-reviewers

# github folder holds administrative files
.github/** @pcdshub/software-admin
